# Database
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=3306
DB_DIALECT=mysql
DATABASE_URL=

# JWT
JWT_SECRET=your_jwt_secret_key_here

# Google Gemini API
GEMINI_API_KEY=

# Server
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# AI CNN
AI_ENABLE=false
AI_MODEL_PATH=model_CNN/ecg_tfjs/model.json
AI_PREPROCESS_CONFIG_PATH=model_CNN/ecg/preprocess_config.json
AI_LABEL_MAP_PATH=model_CNN/ecg/label_map.json

