.custom-navbar {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.custom-link {
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.custom-link:hover {
  color: #0f0f0f !important;
  background: #fff1f2;
}

.custom-link.active {
  font-weight: 600;
  color: #be123c !important;
  background: #fff1f2;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  color: #e11d48;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
